# ======================
# ENV & SECRETS
# ======================
.env
.env.*
auth.json

# ======================
# OS / EDITOR
# ======================
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed
/.nova

# ======================
# LOGS & CACHE
# ======================
*.log
.phpunit.result.cache
/.phpunit.cache

# ======================
# DEPENDENCIES
# ======================
/node_modules
/vendor

# ======================
# BUILD / HOT RELOAD
# ======================
/public/build
/public/hot

# ======================
# STORAGE (IMPORTANT)
# ======================
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/*
!/storage/framework/.gitignore

# ======================
# LARAVEL STORAGE LINK
# ======================
/public/storage

# ======================
# HOMESTEAD
# ======================
Homestead.json
Homestead.yaml

