/* ============================================================
   DELETE 
============================================================ */
/* Overlay gelap */
.overlay-delete {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup */
.delete {
  position: relative;
  width: 350px;
  height: auto;
  background-color: #291c0e;
  border: 1px solid #6e473b;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
  color: #f8e8d0;
  font-family: 'Poppins', sans-serif;
}

/* Tombol close */
.material-symbols {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Title */
.delete .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Message */
.delete .message {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 30px;
  line-height: 1.5;
}

.delete .item-name {
  font-weight: 700;
}

/* Tombol */
.btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-cancel, .btn-delete {
  padding: 7px 33px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  text-decoration: none;
}

.btn-cancel {
  background-color: #f8e8d0;
  color: #291c0e;
}

.btn-delete {
  background-color: #f8e8d0;
  color: #c12020;
}

.btn-cancel:hover {
  background-color: #e0cfb5;
}

.btn-delete:hover {
  background-color: #e0cfb5;
}

/* ============================================================
   DELETE - VERSI TERANG
============================================================ */
.delete-light {
  position: relative;
  width: 350px;
  height: auto;
  background-color: #E1D4C2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.delete-light .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #291C0E;
}

.delete-light .message {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #291C0E;
}

.delete-light .item-name {
  font-weight: 700;
}

.delete-light .btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.delete-light .btn-cancel,
.delete-light .btn-delete {
  padding: 7px 33px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-decoration: none;
}

.delete-light .btn-cancel {
  background-color: #291C0E;
  color: #E1D4C2;
}

.delete-light .btn-delete {
  background-color: #291C0E;
  color: #DF5F5F;
}

.delete-light .btn-cancel:hover,
.delete-light .btn-delete:hover {
  background-color: #352514;
}
